<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All metrics</title>
</head>
<body>
    <p>Metrics:</p>
    <ul>
        {{ range . }}
            {{ if eq .Type "counter" }}
                <li>[{{ .Type }}] {{ .ID }}: {{ .Delta }} </li>
            {{ else if eq .Type "gauge" }}
                <li>[{{ .Type }}] {{ .ID }}: {{ .Value }} </li>
            {{ end }}
        {{ end }}
    </ul>
</body>
</html>
